@import "tailwindcss";

@theme {
  /* min-width breakpoint; rem matches Tailwind v4 defaults (1700px) */
  --breakpoint-3xl: 120rem;

  /* Font Family - Set as default*/
  --default-font-family: "Prompt", sans-serif;

  /* Headline 1 */
  --font-size-headline-1: 2rem; /* 32px */
  --font-weight-headline-1: 500;

  /* Headline 2 */
  --font-size-headline-2: 1.25rem; /* 20px */
  --font-weight-headline-2: 500;

  /* Headline 3 */
  --font-size-headline-3: 1.25rem; /* 20px */
  --font-weight-headline-3: 400;

  /* Headline 4 */
  --font-size-headline-4: 1.125rem; /* 18px */
  --font-weight-headline-4: 500;

  /* Headline 5 */
  --font-size-headline-5: 1rem; /* 16px */
  --font-weight-headline-5: 500;

  /* Body 1 */
  --font-size-body-1: 1.25rem; /* 20px */
  --font-weight-body-1: 400;

  /* Body 2 */
  --font-size-body-2: 1rem; /* 16px */
  --font-weight-body-2: 400;

  /* Body 3 */
  --font-size-body-3: 0.875rem; /* 14px */
  --font-weight-body-3: 400;

  /* Body 4 */
  --font-size-body-4: 0.75rem; /* 12px */
  --font-weight-body-4: 400;

  /* Button */
  --font-size-button: 1rem; /* 16px */
  --font-weight-button: 600;
  --text-decoration-button: underline;

  --line-height: 150%;
  --letter-spacing: 0%;

  /* Primary Color */
  --color-blue-950: #001c59;
  --color-blue-900: #022b87;
  --color-blue-800: #0e3fb0;
  --color-blue-700: #1852d6;
  --color-blue-600: #336df2;
  --color-blue-500: #4c7ff4;
  --color-blue-400: #799ff7;
  --color-blue-300: #a6bffa;
  --color-blue-200: #d2dffc;
  --color-blue-100: #e7eeff;

  --color-gray-950: #232630;
  --color-gray-900: #323640;
  --color-gray-800: #4b5160;
  --color-gray-700: #646c80;
  --color-gray-600: #80899c;
  --color-gray-500: #9aa1b0;
  --color-gray-400: #b3b8c4;
  --color-gray-300: #ccd0d7;
  --color-gray-200: #e6e7eb;
  --color-gray-100: #efeff2;

  /* Secondary Color */
  --color-purple-900: #4512b4;
  --color-purple-100: #ece6ff;

  --color-yellow-900: #6e5000;
  --color-yellow-100: #fff3d4;

  --color-green-900: #00596c;
  --color-green-100: #dff9f6;

  /* Utility Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #c82438;
  --color-bg-gray: #f3f4f6;

  /* Surface Styles */
  --radius-card-box: 0.5rem; /* 8px */
  --border-card-box: 1px solid var(--color-gray-300);
  --shadow-card: 2px 2px 24px 0 rgba(23, 51, 106, 0.12);
}

/* Typography Utility Classes */

@utility style-headline-1 {
  font-weight: var(--font-weight-headline-1);
  font-size: var(--font-size-headline-1);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@utility style-headline-2 {
  font-weight: var(--font-weight-headline-2);
  font-size: var(--font-size-headline-2);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@utility style-headline-3 {
  font-weight: var(--font-weight-headline-3);
  font-size: var(--font-size-headline-3);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@utility style-headline-4 {
  font-weight: var(--font-weight-headline-4);
  font-size: var(--font-size-headline-4);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@utility style-headline-5 {
  font-weight: var(--font-weight-headline-5);
  font-size: var(--font-size-headline-5);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@utility style-body-1 {
  font-weight: var(--font-weight-body-1);
  font-size: var(--font-size-body-1);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@utility style-body-2 {
  font-weight: var(--font-weight-body-2);
  font-size: var(--font-size-body-2);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@utility style-body-3 {
  font-weight: var(--font-weight-body-3);
  font-size: var(--font-size-body-3);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@utility style-body-4 {
  font-weight: var(--font-weight-body-4);
  font-size: var(--font-size-body-4);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@utility style-button {
  font-weight: var(--font-weight-button);
  font-size: var(--font-size-button);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-align: center;
  text-decoration: var(--text-decoration-button);
}

@utility style-summary-title {
  font-weight: 300;
  font-size: var(--font-size-body-3);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@utility style-summary-price {
  font-weight: var(--font-weight-button);
  font-size: var(--font-size-body-2);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

@utility style-shadow {
  box-shadow: var(--shadow-card);
}

@utility style-card-box {
  background-color: var(--color-white);
  border: var(--border-card-box);
  border-radius: var(--radius-card-box);
}

:root {
  color: var(--color-black);
  background: var(--color-bg-gray);
}
